@(userForm: Form[VEN], programs: Map[String, String])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@informationGroup(field: Field, className: String = "profile") = {

}

@main(Html("Create a VEN"), "") {
	
	@if(flash.size() > 0){
       <div class="alert-message error">
       	@for((key, value) <- flash){
           	<strong>Error : </strong> @value<br />
           }
       </div> 
    }
	
	@form(routes.Customers.newCustomer()) {
	
        <fieldset>
		    <!-- will eventually generate this ID -->
		    <h3>Customer Information</h3>   
				@select(
                	userForm("ProgramId"), 
                	options(programs), 
	                '_label -> "Program", '_default -> "-- Choose a program --",
	                '_showConstraints -> false
	            )
		    	@inputText(userForm("customerName"), '_label -> "Customer Name")
				@inputText(userForm("venID"), '_label -> "VEN ID")
				@inputText(userForm("clientURI"), '_label -> "Client URI")
	            <div class="actions">
	            	<input type="submit" value="Create this customer" class="btn primary"> or 
	            	<a href="@routes.Customers.customers()" class="btn">Cancel</a>
        		</div>
		</fieldset>
	}
}