@(projectForm: Form[ProjectForm])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 
@main(Html("Create a Program"), "") {
	
	@form(routes.Markets.newProject()) {
	
        <fieldset>
		    <!-- will eventually generate this ID -->
		    <h3>Market Context</h3>    
				@inputText(projectForm("projectName"), '_label -> "Program Name")
				@inputText(projectForm("projectURI"), '_label -> "URI")
		</fieldset>
		
        <div class="actions">
            <input type="submit" value="Create this program" class="btn primary"> or 
            <a href="@routes.Markets.projects()" class="btn">Cancel</a>     
        </div>
	}
}