@(userForm: Form[UserForm], programs: Map[String, String])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@informationGroup(field: Field, className: String = "profile") = {

}

@main(Html("Create a Customer"), "") {
	
	@form(routes.Users.newUser()) {
	
        <fieldset>
		    <!-- will eventually generate this ID -->
		    <h3>Customer Information</h3>    
				@inputText(userForm("venID"), '_label -> "VEN ID")
				@select(
                	userForm("ProjectId"), 
                	options(programs), 
	                '_label -> "Program", '_default -> "-- Choose a program --",
	                '_showConstraints -> false
	            )
	            <div class="actions">
	            	<input type="submit" value="Create this customer" class="btn primary"> or 
	            	<a href="@routes.Users.users()" class="btn">Cancel</a>
        		</div>
		</fieldset>
	}
}