@()

@import helper._

@import helper.twitterBootstrap._

@main(Html("Requests"), "Requests") {

	<div id="page-wrap">
		<h1>Hiya</h1>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				document.write("Shalom")
				type: "GET",
				url: "/Users/jlajoie/Desktop/jQuery XML/sites.xml",
				dataType: "xml",
					success: function(xml) {
						$(xml).find('site').each(function(){
							var id = $(this).attr('id');
							var title = $(this).find('title').text();
							var url = $(this).find('url').text();
							$('<div class="items" id="link_'+id+'"></div>').html('<a href="'+url+'">'+title+'</a>').appendTo('#page-wrap');
							$(this).find('desc').each(function(){
								var brief = $(this).find('brief').text();
								var long = $(this).find('long').text();
								$('<div class="brief"></div>').html(brief).appendTo('#link_'+id);
								$('<div class="long"></div>').html(long).appendTo('#link_'+id);
							});
						});
					}
				});
			});
	     </script>
	
}