@()

@import helper._

@import helper.twitterBootstrap._

@main(Html("Requests"), "Requests") {
	<h3>Incoming Responses</h3>
	<div id=xmlOutput></div>	

	<script>
		$('#requestbutton').click(function(){
			$(this).text("Loading request...");
				$.post('@routes.Requests.test()',
						"",
						function(data){
							$('#xmlOutput').empty();
							$('#xmlOutput').append(data);
				});
			$(this).text("Refresh");
		});
		
		$.post('@routes.Requests.test()',
				"",
				function(data){
					$('#xmlOutput').empty();
					$('#xmlOutput').append(data);
		});
	</script>
}