@(statusList: List[StatusObject])

<h3>VEN Status</h3>
<table>
	<thead>
		<tr>
			<th>VEN ID</th>
			<th>Event ID</th>
			<th>Program</th>
			<th>Status</th>
			<th>Last Response</th>
		</tr>
	<tfoot></tfoot>
	<tbody>
		@for(status <- statusList){
			<tr>
				<td>@status.getVenID()</td>
				<td>@status.getEventID()</td>
				<td>@status.getProgram()</td>
				<td>
					@if(status.getOptStatus == "OPT_OUT"){
						<a disabled="disabled" class="btn danger">Opted Out</a>
					}else{
						@if(status.getOptStatus == "OPT_IN"){
							<a disabled="disabled" class="btn success">Opted In</a>
						}else{
							<a disabled="disabled" class="btn">Pending</a>
						}
					}
				</td>
				<td>@status.displayTime()</td>
			</tr>
		}
		
	</tbody>
</table>