@(userList: List[UserForm])

@import helper._

@import helper.twitterBootstrap._

@main(Html("Users"), "Users") {

		@if(flash.containsKey("success")) {
		        <div class="alert-message success">
		            <strong>Success: </strong> @flash.get("success")
		        </div>
		}
		@if(flash.containsKey("failure")){
			<div class="alert-message error">
				<strong>Error: </strong> @flash.get("failure")
			</div>
		}
		    
        <table class="zebra-striped">
            <thead>
                <tr>
                	<th>User Name</th>
                	<th>Program Name</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            @for(user <- userList){ 
            	<tr>
	            	<td>@user.getUserName()</td>
	            	<td>@user.programName</td>	            	
					<td>@form(routes.Users.deleteUser(user.getId())){
							<input type="submit" value="Delete" class="btn danger">
						}
					</td>
            	</tr>
            }     	
            </tbody>
        </table>
}